<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.DbJianLi0127ConnectionString"
            connectionString="Data Source=127.0.0.1;Initial Catalog=DbJianLi0127;Persist Security Info=True;User ID=sa;Password=liaowei"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <DAL.Properties.Settings>
            <setting name="DAL_localhost_WebService_ExportExcel" serializeAs="String">
                <value>http://192.168.0.3/WebService/WebService_ExportExcel.asmx</value>
            </setting>
        </DAL.Properties.Settings>
    </applicationSettings>
</configuration>