	.con
	{
	    width:645px;
	    margin:10px auto;
	    }
	.tbComm {
BORDER-COLLAPSE: collapse;
font-size: 12px;
}
.w100{
width:100%;
}
.fl{
	float:left;
}
.clear{
	clear:both;
}
.tbComm .col {
background-color: #F3FAFF;
text-align: left;
width:76px;
text-align:center
}
.tbComm .header{
	text-align:center;
}
.tbComm .to, .tbComm .header{
	background-color:#33CCCC;
    color:White;
}
.tbComm .bz{
	width:110px;
}
.tbComm .area{
    width:500px;
}
.tbComm td {
border: solid 1px #BBE1F1;
}
.center{ text-align:center;}
.tbComm .txt{ width:80px;}
.sec{margin-top:5px; height:auto; overflow:hidden;}
.red_B{ color:Red; font-weight:bold;font-size:larger;}
.Org_B{ color:Orange; font-weight:bold;font-size:larger;}
.gre_B{ color:green; font-weight:bold;font-size:larger;}