.tbChengBen{ margin:10px auto;border: 1px solid #009999;}
.chengben_detail tr .td30{width:230px; text-align:left;}
.chengben_detail tr .td31{ text-align:left;width:150px;}
.tbChengBen .td12{width:110px;}
.tbChengBen .td1{width:70px; text-align:center;vertical-align:top;}
.tbChengBen .td2{width:70px;vertical-align:top;}
.tbChengBen .td3{}
.tbChengBen .td4{width:100px;vertical-align:top;}
.total{ color:Green;}
.sm{ color:Gray;
     font-size:smaller;}
.chengben_detail .b1 td
{
    border:0px;
    border-bottom:1px dotted gray;
    }
.chengben_detail td
{
    border:0px;
   
    }
.ft
{
    color:Gray;
    font-style:italic;
    }