
        table{border-collapse:collapse}
        .tb_List td{ text-align:center;border: 1px solid #009999;}
        .tb_List .td1{ width:200px;}
        .tb_List .td2{ width:80px;}
        .tb_List .td3{ width:120px;}
        .tb_List .td7{ width:120px;}
